body {
    font-family: "Times New Roman", Times, serif;
    background: #f1f1f1;
}

/*!* 头部标题 *!*/
.header {
    padding: 23px 0;
    text-align: center;
    color: white;
    background: #CD5C5C;

}

/*博主名字*/
.liufei {
    font-size: 40px;
}

.row {
    background-color: white;
}

@media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: .001dpcm) {
    .masked {
        background-image: -webkit-linear-gradient(left, #147B96, #E6D205 25%, #147B96 50%, #E6D205 75%, #147B96);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-background-size: 200% 100%;
        -webkit-animation: masked-animation 4s infinite linear;
    }
}

@-webkit-keyframes masked-animation {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -100% 0;
    }
}

