{# 继承母版 #}
{% extends 'base.html' %}
{% block page-title %}
    <title>诗词名句-诗词名句网</title>
{% endblock %}
{% block page-left-content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <img class="card-img-top img-fluid"
                         src="http://pics.shicimingju.com/rand/1568897188651.jpg?x-oss-process=image/resize,m_lfit,h_600,w_600"
                         alt="Card image"
                         style="width:100%;height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title"><a href="javascript:;" class="card-link text-info">田园诗<span>(36首)</span></a></h5>
                        <p><a href="javascript:;" class="card-link text-dark">《新凉》<span>徐玑</span></a></p>
                            <p><a href="javascript:;" class="card-link text-dark">《野老歌》<span>张籍</span></a></p>
                            <p><a href="javascript:;" class="card-link text-dark">信南山》<span>诗经</span></a></p>
{#                        <ul class="list-group list-group-flush">#}
{#                            <li class="list-group-item"><a href="javascript:;" class="card-link text-dark">《新凉》<span>徐玑</span></a></li>#}
{#                            <li class="list-group-item"><a href="javascript:;" class="card-link text-dark">《野老歌》<span>张籍</span></a></li>#}
{#                            <li class="list-group-item"><a href="javascript:;" class="card-link text-dark">《信南山》<span>诗经</span></a></li>#}
{##}
{#                        </ul>#}
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top"
                         src="http://pics.shicimingju.com/rand/1568897283851.jpg?x-oss-process=image/resize,m_lfit,h_600,w_600"
                         alt="Card image"
                         style="width:100%;height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title"><a href="javascript:;" class="card-link text-info">送别诗<span>(36首)</span></a></h5>
                        <p><a href="javascript:;" class="card-link text-dark">《赠汪伦》<span>李白</span></a></p>
                            <p><a href="javascript:;" class="card-link text-dark">《山中送别》<span>王维</span></a></p>
                            <p><a href="javascript:;" class="card-link text-dark">《黄鹤楼送孟浩然之广陵》<span>李白</span></a></p>
{#                        <ul class="list-group list-group-flush">#}
{#                            <li class="list-group-item"><a href="javascript:;" class="card-link text-dark">《赠汪伦》<span>李白</span></a></li>#}
{#                            <li class="list-group-item"><a href="javascript:;" class="card-link text-dark">《山中送别》<span>王维</span></a></li>#}
{#                            <li class="list-group-item"><a href="javascript:;" class="card-link text-dark">《黄鹤楼送孟浩然之广陵》<span>李白</span></a></li>#}
{##}
{#                        </ul>#}
                    </div>
                </div>
            </div>
        </div>

    </div>



    {#    分页#}
    {#    <nav aria-label="Page navigation example" style="margin-top: 10px">#}
    {#        <ul class="pagination justify-content-center">#}
    {#            <li class="page-item disabled">#}
    {#                <a class="page-link" href="javascript:;" tabindex="-1">Previous</a>#}
    {#            </li>#}
    {#            <li class="page-item"><a class="page-link" href="javascript:;">1</a></li>#}
    {#            <li class="page-item"><a class="page-link" href="javascript:;">2</a></li>#}
    {#            <li class="page-item"><a class="page-link" href="javascript:;">3</a></li>#}
    {#            <li class="page-item">#}
    {#                <a class="page-link" href="javascript:;">Next</a>#}
    {#            </li>#}
    {#        </ul>#}
    {#    </nav>#}
{% endblock %}








